In [5]:
import warnings 
warnings.filterwarnings('ignore')
import os
import pandas as pd
import numpy as np 
import math
import datetime as dt
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error, explained_variance_score, r2_score
from sklearn.metrics import mean_poisson_deviance, mean_gamma_deviance, accuracy_score
from sklearn.preprocessing import MinMaxScaler

from itertools import product
import statsmodels.api as sm

import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout 
from tensorflow.keras.layers import LSTM

from itertools import cycle
import plotly.offline as py
import plotly.graph_objects as go 
import plotly.express as px
from plotly.subplots import make_subplots

plt.style.use('seaborn-darkgrid')

In [6]:
btc_input_df = pd.read_csv("/major project/btc_ohlc_Oct_2015_to_Oct_2021.csv")
btc_input_df.tail()

                        time     low    high    open   close    volume
3113271  2015-10-27 00:04:00  287.07  287.07  287.07  287.07   0.08610
3113272  2015-10-27 00:03:00  287.08  287.09  287.08  287.09   0.55440
3113273  2015-10-27 00:02:00  286.89  287.10  287.10  286.89  72.40320
3113274  2015-10-27 00:01:00  287.09  287.09  287.09  287.09   0.82276
3113275  2015-10-27 00:00:00  287.10  287.10  287.10  287.10   0.53620

In [8]:
btc_input_df.shape

(3113276, 6)

In [9]:
btc_input_df.describe()

                low          high          open         close        volume
count  3.113276e+06  3.113276e+06  3.113276e+06  3.113276e+06  3.113276e+06
mean   1.152825e+04  1.154230e+04  1.153537e+04  1.153541e+04  9.689568e+00
std    1.490292e+04  1.492446e+04  1.491374e+04  1.491379e+04  2.239875e+01
min    6.000000e-02  6.000000e-02  6.000000e-02  6.000000e-02  1.000000e-08
25%    1.849557e+03  1.850000e+03  1.849925e+03  1.849980e+03  1.331197e+00
50%    7.099990e+03  7.105000e+03  7.102045e+03  7.102060e+03  3.707298e+00
75%    1.067558e+04  1.068550e+04  1.068027e+04  1.068040e+04  9.761575e+00
max    6.690000e+04  6.699900e+04  6.694122e+04  6.694122e+04  1.549613e+03

In [10]:
btc_input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3113276 entries, 0 to 3113275
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   time    object
 1   low     float64
 2   high    float64
 3   open    float64
 4   close   float64
 5   volume  float64
dtypes: float64(5), object(1)
memory usage: 142.5+ MB

In [12]:
btc_input_df_datatype = btc_input_df.astype({'time': 'datetime64'})

In [13]:
btc_input_df_datatype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3113276 entries, 0 to 3113275
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   time    datetime64[ns]
 1   low     float64
 2   high    float64
 3   open    float64
 4   close   float64
 5   volume  float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 142.5 MB